


<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img  src="assets/images/my logo.jpg" alt="logo">
                <h6>All Products</h6>
            </a>
 </div>
 <div class="item">
    <a (click)= "filter('Cars')">
        <img src="assets/images/download.png" alt="logo">
        <h6>Car Toys</h6>
    </a>
</div>
<div class="item">
    <a (click)= "filter('boys T-shirts')">
        <img src="assets/images/fastion logo.png" alt="logo">
        <h6>Fashion</h6>
    </a>
</div>
<div class="item">
    <a (click)= "filter('college bags')">
        <img src="assets/images/bags logo.jpg" alt="logo">
        <h6>Bags</h6>
    </a>
</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterSection | filter:searchKey:'name'">
        <div class="card col-md-3">
            <img src="{{item.Image}}" alt=".....">
            <h5 style="white-space: nowrap;overflow: hidden; text-overflow:ellipsis;max-width: 100ch;">{{item.name}}</h5>
            <p style=" white-space: nowrap;overflow: hidden; text-overflow:ellipsis;max-width: 100ch;">{{item.desc}}</p>
            <p><strong>Price :</strong> ${{item.price}}</p>
            <button class="btn btn-primary" (click)="addtocart(item)">Add to cart</button>
        </div>
        </ng-container>
    </div>
    
</div>
