<div class="container">
    <section class="step-indicator">
        <div class="step step1 ">
            <div class="step-icon">1</div>
          <p>LogIn</p>
        </div>
        <div class="indicator-line active"></div>
        <div class="step step2  ">
            <div class="step-icon">2</div><br>
          <p>Shipping Address</p>
        </div>
      <div class="indicator-line active"></div>
      <div class="step step3 ">
          <div class="step-icon">3</div>
        <p>Payment</p>
      </div>
      <div class="indicator-line active"></div>
      <div class="step step4 active">
          <div class="step-icon">4</div>
        <p>Confirmation</p>
      </div>
    </section>
  </div>

  <div>
    <section class="container">
        <div class="row">
            <div class="col-md-6">
                

               
                        
                       
            
            <div class="template">
            <h1>Thank You For Your Order</h1>
            <p style="text-align:center;">Order Code:BKLMORT6T4EJ8Y</p>
            <P style="text-align:center;">Placed : 24,Aug,2022 4:30:44 PM</P>
            </div>
            <form>
                   <div class="project"> 
                <h3>Create an account</h3>
                <p>Create an account to enjoy faster checkouts, order tracking, order history and more!</p>
                <button class="btn btn-success" (click) = "create()" >Create Account</button>
                <p *ngIf="mssg">Great! Now check your email (rakesh@gmail.com) to complete registration.</p>
            </div>
            </form>
            </div>
        </div>
    </section>
  </div>
  