body {
    font-family: sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .step-indicator {
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 0 40px;
  }
  
  .step {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  
  .step-indicator .step-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #c2c2c2;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
    position: relative;
    line-height: 50px;
    font-size: 20px;
  }
  
  .step.active .step-icon {
    background: crimson;
  }
  
  .step p {
    text-align: center;
    position: absolute;
    bottom: -40px;
    color: #c2c2c2;
    font-size: 14px;
    font-weight: bold;
  }
  
  .step.active p {
    color: crimson;
  }
  
  .step.step2 p,
  .step.step3 p,
  .step.step4 p {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .indicator-line {
    width: 100%;
    height: 2px;
    background: #c2c2c2;
    flex: 1;
  }
  
  .indicator-line.active {
    background: crimson;
  }
  
  @media screen and (max-width: 500px) {
    .step p {
      font-size: 11px;
      bottom: -20px;
    }
  }
  .card{
    margin-top:10px;
    width:500px;
    padding:40px;
    position:absolute;
    top:65%;
    left:50%;
    transform:translate(-50%, -50%);
    background: hsla(205,46%,30%,1);
    background:linear-gradient(90deg,hsla(205,46%,30%,1)0%,hsla(260,29%,36%,1)100%);
}
.a{
    position: absolute;
    left:330px;
}
.card h1,
h6{
    color:#fff;
}
label{
    color:#fff;
}
.content{
  max-width:500px;
  margin:auto;
  background-color: #fff;
  padding:2% 2%;
}
button{
 
  color:#fff

}

button:hover{
  color:#fff
}
.error{
  color:greenyellow;
}
.sh{
  position: absolute;
  top:60px;
}