


<div class="container">
    <section class="step-indicator">
        <div class="step step1 ">
            <div class="step-icon">1</div>
          <p>LogIn</p>
        </div>
        <div class="indicator-line active"></div>
        <div class="step step2  ">
            <div class="step-icon">2</div><br>
          <p>Shipping Address</p>
        </div>
      <div class="indicator-line active"></div>
      <div class="step step3 active ">
          <div class="step-icon">3</div>
        <p>Payment</p>
      </div>
      <div class="indicator-line active"></div>
      <div class="step step4">
          <div class="step-icon">4</div>
        <p>Confirmation</p>
      </div>
    </section>
  </div>

  <div>
    <div class="gun">
        <input type="radio" (click) = "creation()">Credit Card
        
    </div>
  
 
  <div *ngIf="mss">
    <section class="container">
        <div class="row">
            <div class="col-md-6">
                

                <div class="card"  >
                     
                    
 
                    <div class="text-container">
                       
                        
                       
            
            <h1>Payment</h1>
            
                 
  <input type="number" placeholder="credit card"><br>
  <br> <p id="ten">Expiry <input type="number"  placeholder="month"><input type="number" id=" ten" placeholder="year"> <br>
   <br><button class="btn btn-success" routerLink="/confirmation">Complete Order</button>
   </p>
                    </div>
                </div>
                
                </div>
                </div>
    </section>
    
  </div>
  