.card{
    margin-top:10px;
    width:500px;
    padding:20px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-40%, -50%);
    background: hsla(205,46%,30%,1);
    background:linear-gradient(90deg,hsla(205,46%,30%,1)0%,hsla(260,29%,36%,1)100%);
}
.card h1,
h6{
    color:#fff;
}
label{
    color:#fff;
}
.content{
    max-width:500px;
    margin:auto;
    background-color: #fff;
    padding:2% 2%;
  }
  button{
   
    color:#fff
  
  }
  
  button:hover{
    color:#fff
  }
  .error{
    color:yellowgreen;
  }